[core]
    pager = delta
	excludesfile = /Users/nattawatnonsung/.gitignore_global
	editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Nattawat Nonsung
	email = nattawat.nonsung@siteminder.com
[alias]
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
lg2 = log --graph --pretty=format:'%Cred%h%Creset - %C(dim white)%aD%C(reset) %Cgreen(%cr) %C(bold blue)<%an>%Creset%n %C(yellow)%d%Creset %s' --abbrev-commit
taglg = log --tags --simplify-by-decoration --pretty='format:%ai %d'
ls = ls-tree --name-only -r HEAD

st = status
pullr = pull --rebase
co = checkout
cm = commit
cma = commit --amend --no-edit
cp = cherry-pick
rb = rebase
diffnolock = "!f() { \
  DIFF=${1:-}; \
  git diff $DIFF -- . ':(exclude)package-lock.json'; \
}; f"
diffcomponents = "!f() { \
  DIFF=${1:-}; \
  CUT_UNTIL=${2:-2}; \
  git diff $DIFF --dirstat-by-file=0 | sed -E 's/^[ 0-9. ]+% //g' | cut -d'/' -f 1-$CUT_UNTIL | uniq; \
}; f"
myy = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --since=yesterday --author=armmer1@gmail.com
myf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --since='3 days ago' --author=armmer1@gmail.com
stag = tag --sort version:refname
sdtag = for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags

[push]
	default = current
	followTags = true
[merge]
	defaultToUpstream = true
[branch]
  autosetuprebase = always
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[gc]
	auto = 1

[delta]
    features = decorations

[delta "decorations"]
    file-style = bold yellow ul
    file-decoration-style = none

[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = master
